div {
  height: 300px;
  color: white;
}

.big-img {
  background: url("./big.jpeg");
}

.small-img {
  background: url("./small.jpeg");
}

.folder-image {
  background: url("./Img/folder-img.jpeg");
}
