body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background: aquamarine;
}

.container {
  border: 5px solid rgb(250, 2, 2);
}

.box {
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: aquamarine;
}

.box-1 {
  background: yellow;
}
.box-2 {
  background: black;
}
.box-3 {
  background: blue;
}
.box-4 {
  background: lightblue;
}
.box-5 {
  background: lightcoral;
}

.container{
  display: flex;
}
  
